
<%= flash[:success] %>
<%= flash[:update_error] %>
<h1>EDIT PAGE</h1>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

    <h3>TITLE</h3>
    <%= f.text_field :title %>

    <h3>FEELING</h3>
    <%= f.text_area :body %>

    <%= f.submit 'Update Book' %>
<% end %>


<span>
    <%= link_to 'SHOW', book_path(@book.id) %>
</span>
<span>
    <%= link_to 'BACK', '/books' %>
</span>