<h1>投稿一覧</h1>

<% @books.each do |book| %>
    <h3>タイトル</h3>
    <span><%= book.title %></span>

    <h3>感想</h3>
    <span><%= book.body %></span>
    <span>
        <%= link_to 'SHOW', book_path(book.id) %>
    </span>
    <span>
        <%= link_to 'EDIT', edit_book_path(book.id) %>
    </span>
    <span>
        <%= link_to 'DELETE', book_path(book.id), method: :delete, data: {confirm: "本当に削除しますか？"} %>
    </span>
<% end %>


<%= form_with model: @book, url: '/books', method: :post do |f| %>
    <h4>Book's Title</h4>
    <%= f.text_field :title %>

    <h4>Feeling</h4>
    <%= f.text_area :body %>

    <%= f.submit :'Submit' %>

<% end %>